<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="works.css" />
    <title>Works</title>
</head>
<body>
<video width="340" height="340" controls>
        <source src="video.mp4" type="video/mp4">
</video>

<div id="feature_films">
    <h1>Feature films</h1>
    <ul>
        <li>La Pointe Courte (1955)</li>
        <li>Cléo de 5 à 7 (1962)</li>
        <li>Le Bonheur (1965)</li>
        <li>Les Créatures (1966)</li>
        <li>Loin du Vietnam (1967)</li>
        <li>Lions Love (1969)</li>
        <li>Daguerréotypes (1975)</li>
        <li>L'Une chante, l'autre pas (1977)</li>
        <li>Mur Murs (1981)</li>
        <li>Documenteur (1981)</li>
        <li>Sans toit ni loi (1985)</li>
        <li>Jane B. par Agnès V. (1988)</li>
        <li>Le petit amour (1987)</li>
        <li>Jacquot de Nantes (1991)</li>
        <li>Les demoiselles ont eu 25 ans (1993)</li>
        <li>Les Cent et une nuits de Simon Cinéma (1994)</li>
        <li>L'univers de Jacques Demy (1995)</li>
        <li>Les Glaneurs et la glaneuse (2000)</li>
        <li>Les Glaneurs et la glaneuse... deux ans après (2002)</li>
        <li>Cinévardaphoto (2004)</li>
        <li>Quelques veuves de Noirmoutier (2006)</li>
        <li>Les plages d'Agnès (2008)</li>
        <li>Visages Villages (2017)</li>
        <li>Varda par Agnès (2019)</li>
    </ul>
</div>
<div id="short_films">
    <h1>Short films</h1>
    <ul>
        <li>L'opéra-mouffe (1958)</li>
        <li>La cocotte d'azur(1958)</li>
        <li>Du côté de la côte (1958)</li>
        <li>Ô saisons, ô châteaux (1958)</li>
        <li>Les fiancés du pont MacDonald (1961)</li>
        <li>Salut les cubains (1963)</li>
        <li>Elsa la rose (1965)</li>
        <li>Oncle Yanco (1967)</li>
        <li>Black Panthers (1968)</li>
        <li>Réponse de femmes: Notre corps, notre sexe (1975)</li>
        <li>Plaisir d'amour en Iran (1976)</li>
        <li>Ulysse (1982)</li>
        <li>Les dites cariatides(1984)</li>
        <li>7p. cuis., s. de b., ... à saisir (1984)</li>
        <li>T'as de beaux escaliers, tu sais(1986)</li>
        <li>Hommage à Zgougou (et salut à Sabine Mamou)(2002)</li>
        <li>Le lion volatil (2003)</li>
        <li>Ydessa, les ours et etc.(2004)</li>
        <li>Le lion volatil (2004)</li>
        <li>Viennale Walzer (2004)</li>
        <li>Les dites cariatides bis (2005)</li>
        <li>Cléo de 5 à 7: souvenirs et anecdotes (2005)</li>
        <li>Les 3 Boutons (2015)</li>
    </ul>
</div>
<a href="/">Home</a>
<script type="text/javascript" src="app.js"></script>
</body>
</html>